.ANIM_rotate_infinite {
    animation-name: ANIM_rotate_infinite;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}

.ANIM_rotate_infinite:hover {
    animation: none;
}

@keyframes ANIM_rotate_infinite {

    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0);
    }
}



































































.contract_no_infinite {
    animation-name: contract_no_infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes contract_no_infinite {

    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}



.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.fadeIn_infinite {
    -webkit-animation-name: fadeIn_infinite;
    animation-name: fadeIn_infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn_infinite {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn_infinite {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bounce-top {
    animation-name: bounce-top;
    animation-duration: 3.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
}

@keyframes bounce-top {

    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-24px);
    }

    55% {
        transform: translateY(0);
    }

    65% {
        transform: translateY(-12px);
    }

    75% {
        transform: translateY(0);
    }

    82% {
        transform: translateY(-6px);
    }

    87% {
        transform: translateY(0);
    }

    93% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.vibrate_slow {
    animation-name: vibrate_slow;
    animation-duration: 5.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes vibrate_slow {

    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(2px, -2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    60% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

.anima_text_focus {
    animation-name: anima_text_focus;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}

@keyframes anima_text_focus {

    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.anima_text_slit {

    animation-name: anima_text_slit;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}

@keyframes anima_text_slit {

    0% {
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }

    50% {
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }

    100% {
        transform: translateZ(0) rotateX(0);
    }
}

.anim_late {

    animation-name: anim_late;
    animation-duration: 3.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;

    /* shorthand
    animation: rubberband-horizontal 3.2s ease 0s infinite normal none;*/
}

@keyframes anim_late {

    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, .75, 1);
    }

    40% {
        transform: scale3d(.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, .85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}




.text_color_anim {
    /* color: rgb(215, 215, 215); */
    font-weight: bold;
    font-size: 3em;
    animation-name: text_color_anim;
    animation-duration: 5.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;

}

@keyframes text_color_anim {

    0% {
        color: rgba(30, 203, 226, 0.70);
    }

    100% {
        color: #8d96eb;
    }
}

.rotateInDownLeft {
    -webkit-animation-name: rotateInDownLeft;
    animation-name: rotateInDownLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;

    }

    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: scale(1.5);
        ;
        transform: scale(1.5);
        ;
        opacity: 1;

    }
}

@keyframes rotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
}


.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounce_cross_infinite {
    animation-name: bounce_cross_infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}

.bounce_cross_infinite:hover {
    animation: none;
}

@keyframes bounce_cross_infinite {

    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-24px);
    }

    55% {
        transform: translateY(0);
    }

    65% {
        transform: translateY(-12px);
    }

    75% {
        transform: translateY(0);
    }

    82% {
        transform: translateY(-6px);
    }

    87% {
        transform: translateY(0);
    }

    93% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}


.data_slide_down_no_infinite {
    -webkit-animation-name: data_slide_down_no_infinite;
    animation-name: data_slide_down_no_infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes data_slide_down_no_infinite {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes data_slide_down_no_infinite {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.slide_fade_no_infinite {
    -webkit-animation-name: slide_fade_no_infinite;
    animation-name: slide_fade_no_infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide_fade_no_infinite {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide_fade_no_infinite {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slide_fade_left_no_infinite {
    -webkit-animation-name: slide_fade_left_no_infinite;
    animation-name: slide_fade_left_no_infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide_fade_left_no_infinite {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide_fade_left_no_infinite {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.pulse_no_infinite {
    -webkit-animation-name: pulse_no_infinite;
    animation-name: pulse_no_infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse_no_infinite {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse_no_infinite {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.vibrate_fast_no_infinite {
    animation-name: vibrate_fast_no_infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes vibrate_fast_no_infinite {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


.focus_text_contraction_no_infinite {
    animation-name: focus_text_contraction_no_infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes focus_text_contraction_no_infinite {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.i_see_you_no_infinite {
    animation-name: i_see_you_no_infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes i_see_you_no_infinite {

    0% {
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }

    50% {
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }

    100% {
        transform: translateZ(0) rotateX(0);
    }
}

.rotate_plus_infinite {
    animation-name: rotate_plus_infinite;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
}

.rotate_plus_infinite:hover {
    animation: none;
}

@keyframes rotate_plus_infinite {

    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0);
    }
}


.SPINNER_loading1 {
    width: 48px;
    height: 48px;
    border: 3px dotted #ff8800;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: SPINNER_loading1 2s linear infinite;
    text-align: center;
}

.SPINNER_loading1::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px #f6ff00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: Loading1rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes SPINNER_loading1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes SPINNER_loading1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}